%table.index
  %thead
    %tr
      %th= t("name")
      %th
  %tbody
    - @prototypes.each do |prototype|
    %tr{:id => "row_#{prototype.id}"}
      %td= prototype.name
      %td.actions
        = link_to icon('add') + ' ' + t("select"), select_admin_prototype_url(prototype), |
          :class => 'ajax iconlink select_properties_from_prototype'                      |
    </haml:block>
    - if @prototypes.empty?
    %tr
      %td{:colspan => "2"}
        - t("none")
        \.
    </haml:block>
