- @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Taxon.roots
- form_tag products_url, :method => :get do
  - values_for_opts = [[t(:all_departments), '']] + @taxons.map {|t| [t.name, t.id]}
  - opts = options_for_select(values_for_opts, (@taxon ? @taxon.id : params[:taxon]))
  = select_tag :taxon, opts
  = text_field_tag :keywords, params[:keywords]
  = submit_tag t(:search), :name => nil
