- number ||= 0
%tr.product_property
  %td
    = text_field :product_property, :property_name,                              |
      :name => property_fu_name(product_property, number),                       |
      :value => product_property.property ? product_property.property.name : "", |
      :class => 'autocomplete'                                                   |
  %td
    = text_field :product_property, :property_value,        |
      :name => property_fu_value(product_property, number), |
      :value => product_property.value                      |
  %td
    %a.product_property_remove_link.iconlink{:href => "#"}
      = icon('delete')
      = t("remove")
