- number ||= 0
%tr.product_property
  %td
    - tf_name = property_fu_name(product_property, number)
    - tf_value = product_property.property ? product_property.property.name : ""
    = text_field :product_property, :property_name, :name => tf_name, :value => tf_value, :class => 'autocomplete'
  %td
    - tf_name = property_fu_value(product_property, number)
    - tf_value = product_property.value
    = text_field :product_property, :property_value, :name => tf_name, :value => tf_value
  %td
    %a.product_property_remove_link.iconlink{:href => "#"}
      = icon('delete')
      = t("remove")
