- unless @product_properties.empty?
  %dl#product-properties.table-display
    - for product_property in @product_properties
      %dt= product_property.property.presentation
      - val = product_property.value
      %dd= val.blank? ? "&nbsp;" : val